:root {
  --spice-card: #2C1E11;
  --spice-tab-active: #1C130D;
  --spice-main: #1C130D;
  --spice-misc: #1C130D;
  --spice-button: #1C130D;
  --spice-button-active: #1C130D;
}

.main-repeatButton-active svg {
  color: #D1AC89;
}

.main-repeatButton-button.main-repeatButton-active:after {
  background-color: #D1AC89;
  border-radius: 10px;
}

.main-shuffleButton-button.main-shuffleButton-active:after {
  background-color: #D1AC89;
}

.main-shuffleButton-active svg {
  color: #D1AC89;
}

.Root__top-bar {
  border-radius: 0px;
  background-color: #2C1E11;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.main-home-homeHeader {
  display: none;
}

.spotify__container--is-desktop:not(.fullscreen) .main-navBar-entryPoints {
  align-items: center;
  padding: 10px;
  padding-left: 0px;
  margin-top: 20px;
  width: 90%;
  margin-left: 5%;
}

.main-navBar-navBarLink {
  background-color: #1C130D;
}

.main-navBar-navBarLink:hover {
  background-color: #2c1e11;
}

.main-navBar-navBarLinkActive {
  background-color: #000000;
}

.ellipsis-one-line {
  position: absolute;
  right: 13%;
}

.main-rootlist-rootlistDividerGradient {
  display: none;
}

.main-rootlist-rootlistDividerContainer {
  width: 100%;
  position: absolute;
  left: 0px;
}

.main-navBar-entryPoints {
  background-color: #2C1E11;
  border-radius: 10px;
  padding-top: 0px;
}

.main-view-container__scroll-node-child-spacer {
  background-color: #1C130D;
}

.main-topBar-background {
  background: none;
}

.main-navBar-navBar {
  background-color: #1C130D;
}

.main-image-image {
  border-radius: 10px
}

.main-cardImage-imageWrapper {
  background: none;
}

.cover-art-image {
  border-radius: 0px;
  border-start-start-radius: 20px;
  border-top-right-radius: 20px;
}

.main-nowPlayingWidget-coverArt img {
  border-radius: 10px;
}


.cover-art {
  background: none;
}

.main-home-content {
  background-color: #1C130D;
}

.main-card-card {
  background-color: #2C1E11;
}

.main-card-card:hover {
  background-color: #1C130D;
}

.main-playButton-PlayButton svg {
  color: white;
}

.main-gridContainer-gridContainer {
  background-color: #1C130D;
}

.contentSpacing {
  background-color: #1C130D;
}
.encore-dark-theme .encore-bright-accent-set {
  --background-base: #2c1e11;
  --background-highlight: #2c1e11;
}
.main-nowPlayingBar-nowPlayingBar {
  background-color: #1C130D;
}

.lyrics-lyricsContainer-LyricsBackground {
  background-color: #1C130D;
}

.os-content {
  margin-top: 10px;
}

.main-rootlist-rootlistItem  {
  border-radius: 10px;
  background-color: #2c1e11;
  padding: 3px;
  margin-bottom: 5px;
  width: 90%;
}

.main-rootlist-rootlistContent {
  margin-left: 8%;
  
}

.main-navBar-navBarItem {
  padding: 0;
  background-color: #1C130D;;
  margin: 0.3em;
  margin-left: 0.7em;
  border-radius: 10px;
}

.os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track > .os-scrollbar-handle { border-radius: 4px; width: 6px; background-color: var(--spice-button-disabled); } .os-theme-spotify.os-host-transition > .os-scrollbar-vertical > .os-scrollbar-track { width: 6px; }

.queue-tabBar-active {
  background-color: #1C130D;
}
